*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

body{
    display: flex;
    height:100vh;
    justify-content: center;
    align-items: center;
}

.main{
    width:500px;
    border:2px solid black;
    padding:10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

#counter{
    font-size: 3rem;
    text-align: center;

}

.buttons{
    display: flex;
    gap:10px
}

.btn{
    font-size: 1.5rem;
    
    padding: 5px 0;
    flex-grow: 1;
    cursor: pointer;
}