@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
*{
   margin: 0px;
   padding: 0px;
}
.container {
   background-image: url(https://i.pinimg.com/originals/5f/10/13/5f1013ab1155f64c6174520c0980c048.gif);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   align-items: center;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   border: 10px whitesmoke;
   border-style: outset;
   padding: 10px;
   gap:10px;
}


p{
   display: none;
   display: none;
   align-self: center;
   text-align: center;
   margin: 0px auto;
   font-weight: bold;
   font-family: "Roboto Slab", serif;
   color: white;
   font-size: 30px;
   filter: drop-shadow(3px 3px 3px black);
   flex-grow: 0.5;
}


.pokeball{
   display: none;
   width: 175px;
   height: 175px;
   align-self: center;
}


.pokemon{
   display: block;
   margin-top: 15px;
   margin-left: auto;
   margin-right: auto;
   width: 90%;
}


.jigglypuff{
   background-color: rgb(246, 174, 216);
}
.caterpie{
   background-color: rgb(68, 150, 55);
}
.bullbasaur{
   background-color: rgb(27, 98, 36);
}
.mankey{
   background-color: rgb(185, 155, 116);
}
.meowth{
   background-color: rgb(177, 159, 136);
}
.mew{
   background-color: rgb(240, 164, 164);
}
.pidgey{
   background-color: rgb(214, 174, 63);
}
.pikachu{
   background-color: rgb(248, 236, 60);
}
.rattata{
   background-color: rgb(169, 107, 199);
}
.weedle{
   background-color: rgb(147, 98, 195);
}
.zubat{
   background-color: rgb(117, 120, 220);
}
.squirtle{
   background-color: rgb(151, 224, 238);
}


.background{
   object-fit: cover;
   align-content: center;


   background-position: center;


   justify-content: center;
}


#box{
   display: flex;
   flex: wrap;
   height: 300px;
   width: 300px;
   border-radius: 10px;
   transition: 1s ease-in-out;
}


@media(max-width:960px){
  
   .container{
       justify-content: center;
   }
  
   #box{
       flex-direction: row;
       margin: 0px auto;
       width: 95%;
       height: 200px;
       justify-content: space-around;
   }
 
   #box:hover{
       background-image: url("https://i.pinimg.com/originals/71/31/77/713177e7b221e3d2570237268fd19c6e.gif");
       background-repeat: repeat;
       background-size: cover;
   }


   .pokemon{
       display: inline;
       width: 175px;
       height: 175px;
       margin-left: 20px;
   }
  
   p{
       flex-grow: 1;
       display: inline;
       align-self: center;
       text-align: center;
   }


   .pokeball{
       display:inline;
   }


}


@media(max-width:650px){
  
   .container{
       justify-content: center;
   }
  
   #box{
       flex-direction: column;
       margin: 0px auto;
       width: 95%;
       height: 320px;
       justify-content: space-around;
   }


   #box:hover{
       background-image: url("https://i.pinimg.com/originals/72/51/23/72512323b7eb9405b94935b7d4fd9aeb.gif");
       background-repeat: repeat;
       background-size: cover;
   }
 
   .pokemon{
       display: block;
       width: 245px;
       height: 245px;
       margin:0px auto;
       padding-top: 20px;
   }
  
   p{
       margin-bottom: 20px;
       display: inline;
       align-self: center;
       text-align: center;
   }


   .pokeball{
       display:none;
   }


}

